body
{
	padding:0 30px;
	font-family: tahoma;
	font-size: 1.5em;
}
table 
{
	margin:25px auto;
	padding: 5px; 
}
th 
{
	padding: 20px;
	background-color: #eee;
}
h1.logo
{
	margin-top:30px;
	color: #000;
	font-weight: 800;
	font-size: 3.4em;
	letter-spacing: 3.6px;
	margin-bottom:0px;
	line-height:23px; 
}
h2.logo
{

	color: #bbb;
	font-weight: 300;
	font-size: 3.4em;
	letter-spacing: -5px;
	margin-top:0px;
}
.tagline
{
	color: #cd1414;
	font-weight: 300;
	font-size: 1em;
	letter-spacing: -1px;
	margin-top:0px;
	line-height:5px; 
}

/* class to style the little about story at the top next to logo */
.story
{
	text-align: left; 
	vertical-align: bottom
	font-size: 1em;
	color: #333;
	padding:30px; 
	margin-top:0px;  
}

/* class to highlight the search strings found in the results*/
.highlight
{
	background-color: #a1ddbf;
	display: inline;

}
 
.btn
{
	background-color:#40ba7e;
	color: #18385d;
	border: 4px solid #40ba7e;
}
input[type="text"]:focus
{
	border-color:#40ba7e;
}
.btn:hover
{
	background-color: #a1ddbf;
	color: #18385d;
}

.left
{
	text-align: left;
	margin:25px;
}
/* feature a big number in a circle*/
.numviolation
{
	margin: 0 auto;
	text-align:center;
	border-radius: 50%;
	width: 110px;
	font-size: 3.7em;
	font-weight: bold;
	color: #000;
	font-family: arial;
	background-color: #bbb; /*circle color */
	border:10px #fff solid;
}
.circle
{
	line-height: 90px;
	display:block;
}

/* class to stylize the results text next to circle */
.resultdescriptionbox
{
	padding: 45 10px;
	text-align: left;
	font-size: 1em;
	font-weight: 500; 
	text-transform: uppercase;
	color: #bbb;
}	

.navbar-form
{
	padding: 30 10px;
	text-align:right;
}

/* class to stylize the search section */
.resultbody
{
	padding: 30px;
	margin: 0px;
	background-color: #18385d; 
}

/* class to stylize the results table section */
.resultstable
{
	text-align: center;
	padding-top:0px;
	margin-top:0px;
}

/* class to stylize the fineprint found in footer section */
.fineprint
{
	text-align: right;
	font-size: .9em;
	color: #555;
	margin-right: 45px;
}

.footer
{
	background-color:#40ba7e;
	padding: 30px;
	margin:0px;
}


