body
{
	padding:30px;
	font-family: tahoma;
	font-size: 1.5em;
}
table 
{
	margin:25px auto;
	padding: 5px; 
}
th 
{
	padding: 20px;
	background-color: #eee;
}	 
.highlight
{
	background-color: #a1ddbf;
	display: inline;
}
.jumbotron
{
	max-height:250px;
	padding: 20px;
	margin: 0 0 30 0;
}
.btn
{
	background-color:#40ba7e;
	color: #18385d;
	border: 4px solid #40ba7e;
}
input[type="text"]:focus
{
	border-color:#40ba7e;
}
.btn:hover
{
	background-color: #a1ddbf;
	color: #18385d;
}
.centered
{
	text-align: center;
}
.left
{
	text-align: left;
	margin:25px;
}
/* feature a big number in a circle*/
.numviolation
{
	margin: 0 auto;
	border-radius: 50%;
	width: 130px;
	font-size: 4em;
	font-weight: bold;
	color: #fff;
	font-family: arial;
	background-color:#fc3d0a; /*circle color */
	border:10px #18385d solid;
}
.circle
{
	line-height: 110px;
	display:block;
}
.featurebox
{
	padding: 20 10 5 10px;
	text-align: center; 
	font-size: 1.2em;
	font-weight: bold; 
	text-transform: uppercase;
	color: #18385d;
}
.fineprint
{
	text-align: right;
	font-size: .9em;
	color: #aaa;
	margin-right: 45px;
}
.story
{
	text-align: left; 
	vertical-align: middle;
	display: table-cell;
	font-size: 1em;
	color: #333;
	padding:30 px;
}